html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    width: 100%;
    height: 100vh;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#header {
    margin-top: 0px;
    margin-bottom: 25px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons {
    display: flex;
    justify-content: space-between;
}