<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <main>
    <h3 id="header">Enter details</h3>
    <div id="fields"></div>

    <div class="buttons">
      <button class="secondary" id="cancel">Cancel</button>
      <button class="primary" id="submit" disabled>Confirm</button>
    </div>
  </main>

  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>